{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "airbnb",
  "plugins": ["html"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": false }]
  }
}
